<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <h1>Resultados de Búsqueda</h1>
    <form action="/libros/buscar" method="get">
        <input type="text" name="query" placeholder="Buscar libros" required>
        <button type="submit">Buscar</button>
    </form>
    <hr>
    <div>
        <ul>
            <!-- Iterar sobre los resultados -->
            <li th:each="result : ${resultados.docs}">
                <strong th:text="${result.title}">Título del libro</strong><br>
                <span th:text="'Autor: ' + ${result.author_name}">Autor</span><br>
                <a th:href="'/libros/detalles?olid=' + ${result.key.split('/').get(2)}">Ver detalles</a>
                <hr>
            </li>
        </ul>
    </div>
</body>
</html>